@import "variables.scss";

// Mixins
@mixin divider($height: 3rem) {
  width: 100%;
  height: $height;
}

// Global Styles
div.divider {
  @include divider();
}

a.navbar-brand,
a.navbar-brand:hover {
  color: #000 !important;
}

li.nav-item>a.nav-link.active {
  color: $primary;
  font-weight: bold;
}

button.navbar-toggler {
  border: solid 1px rgba(#000, 0.55);
}

a.dropdown-toggle,
a.dropdown-toggle:hover,
a.dropdown-toggle:focus {
  color: #000 !important;
}

.table-divider {
  border-bottom: 3px solid;
}

.score-divider {
  border-left: 0.125rem solid $primary;
  display: inline-block;
  margin: 0 1rem;
  grid-area: vertical_line;
  height: 2.375rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

// Import Bootstrap and Bootstrap Icons
@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.scss";