// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.bg-fuma {
  background-color: #07F468;
}

.bg-fuma a {
  color:#000000;
}

.text-bg-stat-90 {
  background-color: $green-700;
}

.text-bg-stat-80 {
  background-color: $green;
}

.text-bg-stat-70 {
  background-color: $yellow;
}

.text-bg-stat-60 {
  background-color: $orange;
}

.text-bg-stat-50 {
  background-color: $red;
}